<h2>สถานะคำขอ</h2>

{% for r in requests %}
<hr>
ชื่อ: {{r.name}} <br>
เหตุผล: {{r.reason}} <br>

ผู้ปกครอง: {{r.parent}} 
<a href="/approve/{{r.id}}/parent/อนุญาต">✅</a>
<a href="/approve/{{r.id}}/parent/ไม่อนุญาต">❌</a>
<br>

ครู: {{r.teacher}} 
<a href="/approve/{{r.id}}/teacher/อนุญาต">✅</a>
<a href="/approve/{{r.id}}/teacher/ไม่อนุญาต">❌</a>
<br>

หัวหน้าระดับ: {{r.head}} 
<a href="/approve/{{r.id}}/head/อนุญาต">✅</a>
<a href="/approve/{{r.id}}/head/ไม่อนุญาต">❌</a>
<br>

{% endfor %}